[Desktop Entry]
Type=Application
Name=Alchemical Tarot of the Human Condition
Exec=/usr/local/bin/Alchemical-Tarot-of-the-Human-Condition
Icon=Alchemical-Tarot-of-the-Human-Condition
Terminal=true
Categories=Utility;
